.projects {
  min-height: 100vh;

  .project {
    position: relative;

    .background {
      object-fit: cover;
      object-position: top right;

      @media screen and (min-width: 961px) {position: absolute; width: 100%; height: 100%;}
    }
    
  
    .project-info {
      position: relative;
      z-index: 1;
      
      padding: 6.9rem;
      width: 100%;
      background: linear-gradient(to top right, rgba(var(--projects-color-1), 1), rgba(var(--projects-color-1b), 1));

      @media screen and (min-width: 481px) {padding: 7.7rem; width: 100%;}
      @media screen and (min-width: 721px) {padding: 8.6rem; width: 100%;}
      @media screen and (min-width: 961px) {padding: 9.4rem; width: 50%; background: linear-gradient(to top right, rgba(var(--projects-color-1), .95), rgba(var(--projects-color-1b), .95)); /*min-height: 100vh; if I want each project to fill 100% of space*/}
      @media screen and (min-width: 1201px) {padding: 10.3rem;}
      @media screen and (min-width: 1441px) {padding: 11.1rem;}
      @media screen and (min-width: 1681px) {padding: 12rem;}
      @media screen and (min-width: 1921px) {padding: 13.5rem;}
      @media screen and (min-width: 2161px) {padding: 15rem;}
      @media screen and (min-width: 2401px) {padding: 16.5rem;}
      @media screen and (min-width: 2641px) {padding: 18rem;}
      @media screen and (min-width: 2881px) {padding: 19.5rem;}
      @media screen and (min-width: 3121px) {padding: 21rem;}
      @media screen and (min-width: 3361px) {padding: 22.5rem;}
      @media screen and (min-width: 3601px) {padding: 24rem;}

      .title {
        font-weight: 600;
        background: linear-gradient(to top right, rgba(var(--projects-color-2), 1), rgba(var(--projects-color-2b), 1));
        color: transparent;
        background-clip: text;
        filter: drop-shadow(-2px 2px 1px rgba(0, 0, 0, .5));

        font-size: 4.5rem;

        @media screen and (min-width: 481px) {font-size: 5.8rem;}
        @media screen and (min-width: 721px) {font-size: 6.4rem;}
        @media screen and (min-width: 961px) {font-size: 7.1rem;}
        @media screen and (min-width: 1201px) {font-size: 7.7rem;}
        @media screen and (min-width: 1441px) {font-size: 8.4rem;}
        @media screen and (min-width: 1681px) {font-size: 9rem;}
        @media screen and (min-width: 1921px) {font-size: 10.1rem;}
        @media screen and (min-width: 2161px) {font-size: 11.3rem;}
        @media screen and (min-width: 2401px) {font-size: 12.4rem;}
        @media screen and (min-width: 2641px) {font-size: 13.5rem;}
        @media screen and (min-width: 2881px) {font-size: 14.6rem;}
        @media screen and (min-width: 3121px) {font-size: 15.8rem;}
        @media screen and (min-width: 3361px) {font-size: 16.9rem;}
        @media screen and (min-width: 3601px) {font-size: 18rem;}

        &::selection {
          background-color: rgba(var(--projects-color-2), 1);
          color:  rgba(var(--projects-color-1), 1);
        }
      }

      .technologies {
        display: flex;
        flex-wrap: wrap;

        margin: 0.6rem 0 0 0;

        @media screen and (min-width: 481px) {margin: 0.6rem 0 0 0;}
        @media screen and (min-width: 721px) {margin: 0.7rem 0 0 0;}
        @media screen and (min-width: 961px) {margin: 0.8rem 0 0 0;}
        @media screen and (min-width: 1201px) {margin: 0.9rem 0 0 0;}
        @media screen and (min-width: 1441px) {margin: 0.9rem 0 0 0;}
        @media screen and (min-width: 1681px) {margin: 1rem 0 0 0;}
        @media screen and (min-width: 1921px) {margin: 1.1rem 0 0 0;}
        @media screen and (min-width: 2161px) {margin: 1.3rem 0 0 0;}
        @media screen and (min-width: 2401px) {margin: 1.4rem 0 0 0;}
        @media screen and (min-width: 2641px) {margin: 1.5rem 0 0 0;}
        @media screen and (min-width: 2881px) {margin: 1.6rem 0 0 0;}
        @media screen and (min-width: 3121px) {margin: 1.8rem 0 0 0;}
        @media screen and (min-width: 3361px) {margin: 1.9rem 0 0 0;}
        @media screen and (min-width: 3601px) {margin: 2rem 0 0 0;}

        .box {
          background: linear-gradient(to top right, rgba(var(--projects-color-4), 1), rgba(var(--projects-color-4b), 1));

          font-size: 1.7rem;
          padding: 0.6rem;
          border: 2px solid rgba(var(--projects-color-5), 1);
          margin: 0.6rem 0.6rem 0 0;
          
          @media screen and (min-width: 481px) {font-size: 1.7rem; padding: 0.6rem; border: 2px solid rgba(var(--projects-color-3), 1); margin: 0.6rem 0.6rem 0 0;}
          @media screen and (min-width: 721px) {font-size: 1.7rem; padding: 0.7rem; border: 2px solid rgba(var(--projects-color-3), 1); margin: 0.7rem 0.7rem 0 0;}
          @media screen and (min-width: 961px) {font-size: 1.8rem; padding: 0.8rem; border: 2px solid rgba(var(--projects-color-3), 1); margin: 0.8rem 0.8rem 0 0;}
          @media screen and (min-width: 1201px) {font-size: 1.9rem; padding: 0.9rem; border: 2px solid rgba(var(--projects-color-3), 1); margin: 0.9rem 0.9rem 0 0;}
          @media screen and (min-width: 1441px) {font-size: 1.9rem; padding: 0.9rem; border: 2px solid rgba(var(--projects-color-3), 1); margin: 0.9rem 0.9rem 0 0;}
          @media screen and (min-width: 1681px) {font-size: 2rem; padding: 1rem; border: 2px solid rgba(var(--projects-color-3), 1); margin: 1rem 1rem 0 0;}
          @media screen and (min-width: 1921px) {font-size: 2.3rem; padding: 1.1rem; border: 2px solid rgba(var(--projects-color-3), 1); margin: 1.1rem 1.1rem 0 0;}
          @media screen and (min-width: 2161px) {font-size: 2.5rem; padding: 1.3rem; border: 3px solid rgba(var(--projects-color-3), 1); margin: 1.3rem 1.3rem 0 0;}
          @media screen and (min-width: 2401px) {font-size: 2.8rem; padding: 1.4rem; border: 3px solid rgba(var(--projects-color-3), 1); margin: 1.4rem 1.4rem 0 0;}
          @media screen and (min-width: 2641px) {font-size: 3rem; padding: 1.5rem; border: 3px solid rgba(var(--projects-color-3), 1); margin: 1.5rem 1.5rem 0 0;}
          @media screen and (min-width: 2881px) {font-size: 3.3rem; padding: 1.6rem; border: 3px solid rgba(var(--projects-color-3), 1); margin: 1.6rem 1.6rem 0 0;}
          @media screen and (min-width: 3121px) {font-size: 3.5rem; padding: 1.8rem; border: 4px solid rgba(var(--projects-color-3), 1); margin: 1.8rem 1.8rem 0 0;}
          @media screen and (min-width: 3361px) {font-size: 3.8rem; padding: 1.9rem; border: 4px solid rgba(var(--projects-color-3), 1); margin: 1.9rem 1.9rem 0 0;}
          @media screen and (min-width: 3601px) {font-size: 4rem; padding: 2rem; border: 4px solid rgba(var(--projects-color-3), 1); margin: 2rem 2rem 0 0;}

          &:last-child {
            margin-right: 0;
          }

          span {
            font-weight: 450;
            background: linear-gradient(to top right, rgba(var(--projects-color-5), 1), rgba(var(--projects-color-5b), 1));
            color: transparent;
            background-clip: text;
            
            font-size: 1.6rem;
  
            @media screen and (min-width: 481px) {font-size: 1.7rem;}
            @media screen and (min-width: 721px) {font-size: 1.7rem;}
            @media screen and (min-width: 961px) {font-size: 1.8rem;}
            @media screen and (min-width: 1201px) {font-size: 1.9rem;}
            @media screen and (min-width: 1441px) {font-size: 1.9rem;}
            @media screen and (min-width: 1681px) {font-size: 2rem;}
            @media screen and (min-width: 1921px) {font-size: 2.3rem;}
            @media screen and (min-width: 2161px) {font-size: 2.5rem;}
            @media screen and (min-width: 2401px) {font-size: 2.8rem;}
            @media screen and (min-width: 2641px) {font-size: 3rem;}
            @media screen and (min-width: 2881px) {font-size: 3.3rem;}
            @media screen and (min-width: 3121px) {font-size: 3.5rem;}
            @media screen and (min-width: 3361px) {font-size: 3.8rem;}
            @media screen and (min-width: 3601px) {font-size: 4rem;}

            &::selection {
              background-color: rgba(var(--projects-color-2), 1);
              color:  rgba(var(--projects-color-1), 1);
            }
          }
        }
      }

      .description {
        line-height: 1.7;
        font-weight: 500;
        background: linear-gradient(to top right, rgba(var(--projects-color-3), 1), rgba(var(--projects-color-3b), 1));
        color: transparent;
        background-clip: text;

        font-size: 1.6rem;

        @media screen and (min-width: 481px) {font-size: 1.7rem;}
        @media screen and (min-width: 721px) {font-size: 1.8rem;}
        @media screen and (min-width: 961px) {font-size: 1.8rem;}
        @media screen and (min-width: 1201px) {font-size: 1.9rem;}
        @media screen and (min-width: 1441px) {font-size: 2rem;}
        @media screen and (min-width: 1681px) {font-size: 2.1rem;}
        @media screen and (min-width: 1921px) {font-size: 2.4rem;}
        @media screen and (min-width: 2161px) {font-size: 2.6rem;}
        @media screen and (min-width: 2401px) {font-size: 2.9rem;}
        @media screen and (min-width: 2641px) {font-size: 3.2rem;}
        @media screen and (min-width: 2881px) {font-size: 3.4rem;}
        @media screen and (min-width: 3121px) {font-size: 3.7rem;}
        @media screen and (min-width: 3361px) {font-size: 3.9rem;}
        @media screen and (min-width: 3601px) {font-size: 4.2rem;}

        p {
          margin: 2.3rem 0 0 0;
          text-shadow: 0px 0px #00000000; // safari gradient text bug fix

          @media screen and (min-width: 481px) {margin: 2.6rem 0 0 0;}
          @media screen and (min-width: 721px) {margin: 2.9rem 0 0 0;}
          @media screen and (min-width: 961px) {margin: 3.1rem 0 0 0;}
          @media screen and (min-width: 1201px) {margin: 3.4rem 0 0 0;}
          @media screen and (min-width: 1441px) {margin: 3.7rem 0 0 0;}
          @media screen and (min-width: 1681px) {margin: 4rem 0 0 0;}
          @media screen and (min-width: 1921px) {margin: 4.5rem 0 0 0;}
          @media screen and (min-width: 2161px) {margin: 5rem 0 0 0;}
          @media screen and (min-width: 2401px) {margin: 5.5rem 0 0 0;}
          @media screen and (min-width: 2641px) {margin: 6rem 0 0 0;}
          @media screen and (min-width: 2881px) {margin: 6.5rem 0 0 0;}
          @media screen and (min-width: 3121px) {margin: 7rem 0 0 0;}
          @media screen and (min-width: 3361px) {margin: 7.5rem 0 0 0;}
          @media screen and (min-width: 3601px) {margin: 8rem 0 0 0;}

          &::selection {
            background-color: rgba(var(--projects-color-2), 1);
            color:  rgba(var(--projects-color-1), 1);
          }
          
        }
      }

      .demo-code {
        display: flex;
        flex-wrap: wrap;

        margin: 1.7rem 0 0 0;

        @media screen and (min-width: 481px) {margin: 1.9rem 0 0 0;}
        @media screen and (min-width: 721px) {margin: 2.1rem 0 0 0;}
        @media screen and (min-width: 961px) {margin: 2.4rem 0 0 0;}
        @media screen and (min-width: 1201px) {margin: 2.6rem 0 0 0;}
        @media screen and (min-width: 1441px) {margin: 2.8rem 0 0 0;}
        @media screen and (min-width: 1681px) {margin: 3rem 0 0 0;}
        @media screen and (min-width: 1921px) {margin: 3.4rem 0 0 0;}
        @media screen and (min-width: 2161px) {margin: 3.8rem 0 0 0;}
        @media screen and (min-width: 2401px) {margin: 4.1rem 0 0 0;}
        @media screen and (min-width: 2641px) {margin: 4.5rem 0 0 0;}
        @media screen and (min-width: 2881px) {margin: 4.9rem 0 0 0;}
        @media screen and (min-width: 3121px) {margin: 5.3rem 0 0 0;}
        @media screen and (min-width: 3361px) {margin: 5.6rem 0 0 0;}
        @media screen and (min-width: 3601px) {margin: 6rem 0 0 0;}

        .box {
          text-decoration: none;
          color: inherit;
          font-weight: 600;
          background: linear-gradient(to top right, rgba(var(--projects-color-3), 1), rgba(var(--projects-color-3b), 1));
          color: transparent;
          background-clip: text;
          filter: drop-shadow(-1px 1px 1px rgba(0, 0, 0, .5));

          font-size: 1.8rem;
          padding: 1.7rem;
          border: 2px solid rgba(var(--projects-color-3), 1);
          margin: 1rem 1rem 0 0;

          @media screen and (min-width: 241px) {font-size: 1.6rem; padding: 1rem; border: 2px solid rgba(var(--projects-color-3), 1); margin: 0.6rem 0.6rem 0 0;}
          @media screen and (min-width: 481px) {font-size: 1.6rem; padding: 1.1rem; border: 2px solid rgba(var(--projects-color-3), 1); margin: 0.6rem 0.6rem 0 0;}
          @media screen and (min-width: 721px) {font-size: 1.7rem; padding: 1.2rem; border: 2px solid rgba(var(--projects-color-3), 1); margin: 0.7rem 0.7rem 0 0;}
          @media screen and (min-width: 961px) {font-size: 1.7rem; padding: 1.3rem; border: 2px solid rgba(var(--projects-color-3), 1); margin: 0.8rem 0.8rem 0 0;}
          @media screen and (min-width: 1201px) {font-size: 1.7rem; padding: 1.5rem; border: 2px solid rgba(var(--projects-color-3), 1); margin: 0.9rem 0.9rem 0 0;}
          @media screen and (min-width: 1441px) {font-size: 1.8rem; padding: 1.6rem; border: 2px solid rgba(var(--projects-color-3), 1); margin: 0.9rem 0.9rem 0 0;}
          @media screen and (min-width: 1681px) {font-size: 1.8rem; padding: 1.7rem; border: 2px solid rgba(var(--projects-color-3), 1); margin: 1rem 1rem 0 0;}
          @media screen and (min-width: 1921px) {font-size: 2.0rem; padding: 1.9rem; border: 2px solid rgba(var(--projects-color-3), 1); margin: 1.1rem 1.1rem 0 0;}
          @media screen and (min-width: 2161px) {font-size: 2.3rem; padding: 2.1rem; border: 3px solid rgba(var(--projects-color-3), 1); margin: 1.3rem 1.3rem 0 0;}
          @media screen and (min-width: 2401px) {font-size: 2.5rem; padding: 2.3rem; border: 3px solid rgba(var(--projects-color-3), 1); margin: 1.4rem 1.4rem 0 0;}
          @media screen and (min-width: 2641px) {font-size: 2.7rem; padding: 2.6rem; border: 3px solid rgba(var(--projects-color-3), 1); margin: 1.5rem 1.5rem 0 0;}
          @media screen and (min-width: 2881px) {font-size: 2.9rem; padding: 2.8rem; border: 3px solid rgba(var(--projects-color-3), 1); margin: 1.6rem 1.6rem 0 0;}
          @media screen and (min-width: 3121px) {font-size: 3.2rem; padding: 3.0rem; border: 4px solid rgba(var(--projects-color-3), 1); margin: 1.8rem 1.8rem 0 0;}
          @media screen and (min-width: 3361px) {font-size: 3.4rem; padding: 3.2rem; border: 4px solid rgba(var(--projects-color-3), 1); margin: 1.9rem 1.9rem 0 0;}
          @media screen and (min-width: 3601px) {font-size: 3.6rem; padding: 3.4rem; border: 4px solid rgba(var(--projects-color-3), 1); margin: 2rem 2rem 0 0;}

          &:hover {
            background: linear-gradient(to top right, rgba(var(--projects-color-3), 1), rgba(var(--projects-color-3b), 1));
            color: rgba(var(--projects-color-1), 1);
            cursor: pointer;
          }

          &::selection {
            background-color: rgba(var(--projects-color-2), 1);
            color:  rgba(var(--projects-color-1), 1);
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  /*---- Projects customize ----*/

  .project:nth-child(even) .project-info {
    margin-left: auto;
  }

  /*Blue scheme*/

  .project.blue {

    .project-info {
      background: linear-gradient(to top right, rgba(var(--blue-project-color-1), 1), rgba(var(--blue-project-color-1b), 1));
      @media screen and (min-width: 961px) {background: linear-gradient(to top right, rgba(var(--blue-project-color-1), .95), rgba(var(--blue-project-color-1b), .95));}

      .title {
        background: linear-gradient(to top right, rgba(var(--blue-project-color-2), 1), rgba(var(--blue-project-color-2b), 1));
        color: transparent;
        background-clip: text;

        &::selection {
          background-color: rgba(var(--blue-project-color-2), 1);
          color:  rgba(var(--blue-project-color-1), 1);
        }
      }

      .technologies {

        .box {
          border: 2px solid rgba(var(--projects-color-5), 1);
          background: linear-gradient(to top right, rgba(var(--blue-project-color-4), 1), rgba(var(--blue-project-color-4b), 1));

          span {
            background: linear-gradient(to top right, rgba(var(--blue-project-color-5), 1), rgba(var(--blue-project-color-5b), 1));
            color: transparent;
            background-clip: text;

            &::selection {
              background-color: rgba(var(--blue-project-color-2), 1);
              color:  rgba(var(--blue-project-color-1), 1);
            }
          }
        }
      }

      .description {
        background: linear-gradient(to top right, rgba(var(--blue-project-color-3), 1), rgba(var(--blue-project-color-3b), 1));
        color: transparent;
        background-clip: text;

        p {

          &::selection {
            background-color: rgba(var(--blue-project-color-2), 1);
            color:  rgba(var(--blue-project-color-1), 1);
          }
        }
      }

      .demo-code {

        .box {
          background: linear-gradient(to top right, rgba(var(--blue-project-color-3), 1), rgba(var(--blue-project-color-3b), 1));
          color: transparent;
          background-clip: text;
          border: 2px solid rgba(var(--blue-project-color-3), 1);

          &::selection {
            background-color: rgba(var(--blue-project-color-2), 1);
            color:  rgba(var(--blue-project-color-1), 1);
          }

          &:hover {
            background: linear-gradient(to top right, rgba(var(--blue-project-color-3), 1), rgba(var(--blue-project-color-3b), 1));
            color: rgba(var(--blue-project-color-1), 1);
          }
        }
      }
    }
  }
}