@keyframes navSlideUp {
  0% {
      transform: translateY(100%);
  }
  100% {
      transform: translateY(0%);
  }
}

@keyframes navSlideRight {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0%);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(var(--menu-color), .9);
  overflow: hidden;
  position: sticky;
  z-index: 2;
  transform: translateY(100%);
  align-items: center;
  bottom: 0;
  grid-column: 1 / -1;

  @media screen and (min-width: 961px) and (min-height: 721px)  {
    transform: translateX(-100%);
    align-items: stretch;
    bottom: auto;
    grid-column: 1 / 2;
    flex-direction: column; 
    height: 100vh;
    box-shadow: 2px 0px 7px 0px rgba(0, 0, 0, .3);
    top: 0;
  }

  .logo {
    padding: 1.2rem;
    width: 6.6rem;

    @media screen and (min-width: 481px) and (min-height: 241px) {padding: 1.4rem; width: 7.7rem;}
    @media screen and (min-width: 721px) and (min-height: 481px) {padding: 1.6rem; width: 8.8rem;}
    @media screen and (min-width: 961px) and (min-height: 721px)  {padding: 20%; width: auto;}

    .logo-image {
      width: 100%;
      border-radius: 50%;
      transform: scaleX(-1);
    }
  }

  .menu {
    display: flex;
    text-align: center;

    @media screen and (min-width: 961px) and (min-height: 721px)  {
      display: block;
    }

    .navigation, .tools {
      display: flex;

      @media screen and (min-width: 961px) and (min-height: 721px)  {
        display: block;
      }

      a, button {
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        padding: 1.2rem;

        @media screen and (min-width: 481px) and (min-height: 241px) {padding: 1.4rem;}
        @media screen and (min-width: 721px) and (min-height: 481px) {padding: 1.6rem;}
        @media screen and (min-width: 961px) and (min-height: 721px)  {padding: 20% 20%;}

        svg {
          transform: perspective(40rem) rotateY(0);
          padding: 0.2rem;
          font-size: 3rem;

          @media screen and (min-width: 481px) and (min-height: 241px) {padding: 0.2rem; font-size: 3.5rem;}
          @media screen and (min-width: 721px) and (min-height: 481px) {padding: 0.3rem; font-size: 4rem;}
          @media screen and (min-width: 961px) and (min-height: 721px)  {padding: 0; width: 50%; height: auto;}
        }

        span {
          font-weight: 650;
          display: block;
          font-size: 1.1rem;

          @media screen and (min-width: 481px) and (min-height: 241px) {font-size: 1.3rem;}
          @media screen and (min-width: 721px) and (min-height: 481px) {font-size: 1.5rem;}
          @media screen and (min-width: 961px) and (min-height: 721px)  {
      
            @media screen and (min-width: 961px) {font-size: 1.3rem;}
            @media screen and (min-width: 1201px) {font-size: 1.4rem;}
            @media screen and (min-width: 1441px) {font-size: 1.5rem;}
            @media screen and (min-width: 1681px) {font-size: 1.6rem;}
            @media screen and (min-width: 1921px) {font-size: 1.7rem;}
            @media screen and (min-width: 2161px) {font-size: 1.9rem;}
            @media screen and (min-width: 2401px) {font-size: 2.1rem;}
            @media screen and (min-width: 2641px) {font-size: 2.3rem;}
            @media screen and (min-width: 2881px) {font-size: 2.4rem;}
            @media screen and (min-width: 3121px) {font-size: 2.6rem;}
            @media screen and (min-width: 3361px) {font-size: 2.8rem;}
            @media screen and (min-width: 3601px) {font-size: 3rem;}
          }
        }

        &:hover {

          svg {
            color: rgba(var(--menu-color), 1);
            transform: perspective(40rem) rotateY(360deg);
            filter: drop-shadow(-2px 2px 1px rgba(0, 0, 0, .5));
            transition: transform .5s ease-in-out, color .2s ease-in-out;
          }

          span {
            color: rgba(var(--menu-color), 1);
            transition: color .2s ease-in-out;
          }
        }
      }

      .home-link {
        transition: background-color .2s ease-in-out;
        
        svg {
          color: rgba(var(--home-menu-color), 1);
          filter: drop-shadow(var(--menu-shadow-home));
        }

        span {
          color: rgba(var(--home-menu-color), 1);
        }

        &:hover {
          background-color: rgba(var(--home-menu-color), 1);
        }
      }

      .about-link {
        transition: background-color .2s ease-in-out;
        
        svg {
          color: rgba(var(--about-menu-color), 1);
          filter: drop-shadow(var(--menu-shadow-about));
        }

        span {
          color: rgba(var(--about-menu-color), 1);
        }

        &:hover {
          background-color: rgba(var(--about-menu-color), 1);
        }
      }

      .projects-link {
        transition: background-color .2s ease-in-out;
        
        svg {
          color: rgba(var(--projects-menu-color), 1);
          filter: drop-shadow(var(--menu-shadow-projects));
        }

        span {
          color: rgba(var(--projects-menu-color), 1);
        }

        &:hover {
          background-color: rgba(var(--projects-menu-color), 1);
        }
      }

      .contact-link {
        transition: background-color .2s ease-in-out;
        
        svg {
          color: rgba(var(--contact-menu-color), 1);
          filter: drop-shadow(var(--menu-shadow-contact));
        }

        span {
          color: rgba(var(--contact-menu-color), 1);
        }

        &:hover {
          background-color: rgba(var(--contact-menu-color), 1);
        }
      }

      .dark-toggle {
        transition: background-color .2s ease-in-out;
        
        svg {
          color: rgba(var(--dark-mode-menu-color), 1);
          filter: drop-shadow(var(--menu-shadow-dark));
        }

        span {
          color: rgba(var(--dark-mode-menu-color), 1);
        }

        &:hover {
          background-color: rgba(var(--dark-mode-menu-color), 1);
        }
      }

      .light-toggle {
        transition: background-color .2s ease-in-out;
        
        svg {
          color: rgba(var(--light-mode-menu-color), 1);
          filter: drop-shadow(var(--menu-shadow-light));
        }

        span {
          color: rgba(var(--light-mode-menu-color), 1);
        }

        &:hover {
          background-color: rgba(var(--light-mode-menu-color), 1);
        }
      }
    }

    .tools {
      display: none;

      @media screen and (min-width: 400px)  {
        display: initial;
      }
    }
  }

  .hide {
    display:none;
  
    @media screen and (min-width: 961px) and (min-height: 721px)  {
      visibility: hidden;
      display: initial;
    }
  }
}