@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg);}
  }

.spinner.spinner-light {
   background-color: rgba(var(--menu-color), 1);

   .spinner-object {
       border-color: rgba(var(--outline-color), .1);
       border-top-color: rgba(var(--home-color-1), 1);
       border-bottom-color: rgba(var(--home-color-1), 1);
   }
}

.spinner.spinner-dark {
    background-color: rgba(var(--menu-color), 1);

    .spinner-object {
        border-color: rgba(var(--outline-color), .1);
        border-top-color: rgba(var(--home-color-2b), 1);
        border-bottom-color: rgba(var(--home-color-2b), 1);
    }
}

.spinner {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    .spinner-object {
        animation: spin 1s linear infinite both;
        border: .4rem solid;
        border-radius: 50%;

        width: 12rem;
        height: 12rem;

        @media screen and (min-width: 961px) {border: .6rem solid; width: 14rem; height: 14rem;}
        @media screen and (min-width: 1921px) {border: .4vw solid; width: 8vw; height: 8vw;}
        
    }
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
}

.App {
    display: grid;
    background-color: rgba(var(--menu-color), 1);
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
  
    @media screen and (min-width: 961px) and (min-height: 721px)  {

        @media screen and (min-width: 961px) {grid-template-columns: 10.5rem 1fr;}
        @media screen and (min-width: 1201px) {grid-template-columns: 11rem 1fr;}
        @media screen and (min-width: 1441px) {grid-template-columns: 11.5rem 1fr;}
        @media screen and (min-width: 1681px) {grid-template-columns: 12rem 1fr;}
        @media screen and (min-width: 1921px) {grid-template-columns: 6.3% 1fr;}
    }
}

input, select, textarea, button {
    font-family:inherit;
    font-size: inherit;
}

button {
    border: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    font-weight: inherit;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.mousedown *:focus {
    outline: 0;
}

.keydown *:focus {
    outline-color: rgba(var(--outline-color), 1);
    outline-style: solid;
    outline-width: 4px;
    outline-offset: -4px;

    @media screen and (min-width: 481px) {outline-width: 4px; outline-offset: -4px;}
    @media screen and (min-width: 721px) {outline-width: 4px; outline-offset: -4px;}
    @media screen and (min-width: 961px) {outline-width: 5px; outline-offset: -5px;}
    @media screen and (min-width: 1201px) {outline-width: 6px; outline-offset: -6px;}
    @media screen and (min-width: 1441px) {outline-width: 7px; outline-offset: -7px;}
    @media screen and (min-width: 1681px) {outline-width: 8px; outline-offset: -8px;}
    @media screen and (min-width: 1921px) {outline-width: 9px; outline-offset: -9px;}
    @media screen and (min-width: 2161px) {outline-width: 10px; outline-offset: -10px;}
    @media screen and (min-width: 2401px) {outline-width: 11px; outline-offset: -11px;}
    @media screen and (min-width: 2641px) {outline-width: 12px; outline-offset: -12px;}
    @media screen and (min-width: 2881px) {outline-width: 13px; outline-offset: -13px;}
    @media screen and (min-width: 3121px) {outline-width: 14px; outline-offset: -14px;}
    @media screen and (min-width: 3361px) {outline-width: 15px; outline-offset: -15px;}
    @media screen and (min-width: 3601px) {outline-width: 16px; outline-offset: -16px;}
}
  
.light {
    --menu-color: 255,255,255;
    --outline-color: 13, 13, 13;

    --home-menu-color: 0, 111, 223;
    --home-color-1: 0, 0, 232;
    --home-color-3: 255, 255, 255;
    --home-color-2: 255, 255, 255;
    --home-color-1b: 0, 89, 178;
    --home-color-3b: 255, 255, 255;
    --home-color-2b: 255, 255, 255;
    --home-transparency: 0.7;

    --about-menu-color: 227, 57, 0;
    --about-color-1:182, 46, 0;
    --about-color-3: 255, 222, 210;
    --about-color-2: 255, 255, 255;
    --about-color-1b: 158, 79, 0; // 132, 99, 0;
    --about-color-3b: 255, 225, 194;
    --about-color-2b: 255, 255, 255;

    --projects-menu-color: 124, 0, 248;
    --projects-color-1:99, 0, 198;
    --projects-color-3: 236, 216, 255;
    --projects-color-2: 255, 255, 255;
    --projects-color-4: 181, 0, 181;
    --projects-color-5: 255, 255, 255;
    --projects-color-1b: 144, 0, 144;
    --projects-color-3b: 255, 204, 255;
    --projects-color-2b: 255, 255, 255;
    --projects-color-4b: 181, 0, 181;
    --projects-color-5b: 255, 255, 255;

        --blue-project-color-1: 0, 0, 232;
        --blue-project-color-3: 223, 223, 255;
        --blue-project-color-2: 255, 255, 255;
        --blue-project-color-4: 0, 111, 223;
        --blue-project-color-5: 255, 255, 255;
        --blue-project-color-1b: 0, 89, 178;
        --blue-project-color-3b: 207, 231, 255;
        --blue-project-color-2b: 255, 255, 255;
        --blue-project-color-4b: 0, 111, 223;
        --blue-project-color-5b: 255, 255, 255;

    --contact-menu-color: 214, 0, 107;
    --contact-color-1: 184, 0, 46;
    --contact-color-3: 255, 216, 226;
    --contact-color-2: 255, 255, 255;
    --contact-color-1b: 158, 0, 119;
    --contact-color-3b: 255, 209, 243;
    --contact-color-2b: 255, 255, 255;

    --dark-mode-menu-color: 128, 128, 128;
    --light-mode-menu-color: 218, 218, 0;

    --menu-shadow-home: -2px 2px 1px rgba(0, 0, 0, .5);
    --menu-shadow-about: -2px 2px 1px rgba(0, 0, 0, .5);
    --menu-shadow-projects: -2px 2px 1px rgba(0, 0, 0, .5);
    --menu-shadow-contact: -2px 2px 1px rgba(0, 0, 0, .5);
    --menu-shadow-light: -2px 2px 1px rgba(0, 0, 0, .5);
    --menu-shadow-dark: -2px 2px 1px rgba(0, 0, 0, .5);
}

.dark {
    --menu-color: 7, 7, 7;
    --outline-color: 255, 255, 255;
    
    --home-menu-color: 0, 192, 255;
    --home-color-1: 0, 0, 0;
    --home-color-3: 217, 217, 217;
    --home-color-2: 0, 128, 255;
    --home-color-1b: 18, 18, 18;
    --home-color-3b: 217, 217, 217;
    --home-color-2b: 0, 255, 255;
    --home-transparency: 0.9;
    
    --about-menu-color: 255, 136, 0;
    --about-color-1: 18, 18, 18;
    --about-color-3: 217, 217, 217;
    --about-color-2: 255, 64, 0;
    --about-color-1b: 18, 18, 18;
    --about-color-3b: 217, 217, 217;
    --about-color-2b: 255, 192, 0;
    
    --projects-menu-color: 255, 36, 255;
    --projects-color-1: 18, 18, 18;
    --projects-color-3: 217, 217, 217;
    --projects-color-2: 192, 0, 255;
    --projects-color-4: 18, 18, 18;
    --projects-color-5: 217, 217, 217;
    --projects-color-1b: 18, 18, 18;
    --projects-color-3b: 217, 217, 217;
    --projects-color-2b: 255, 0, 192;
    --projects-color-4b: 18, 18, 18;
    --projects-color-5b: 217, 217, 217;
    
        --blue-project-color-1: 18, 18, 18;
        --blue-project-color-3: 217, 217, 217;
        --blue-project-color-2: 0, 128, 255;
        --blue-project-color-4: 18, 18, 18;
        --blue-project-color-5: 217, 217, 217;
        --blue-project-color-1b: 18, 18, 18;
        --blue-project-color-3b: 217, 217, 217;
        --blue-project-color-2b: 0, 255, 255;
        --blue-project-color-4b: 18, 18, 18;
        --blue-project-color-5b: 217, 217, 217;
    
    --contact-menu-color: 255, 21, 80;
    --contact-color-1: 18, 18, 18;
    --contact-color-3: 217, 217, 217;
    --contact-color-2: 255, 0, 64;
    --contact-color-1b: 18, 18, 18;
    --contact-color-3b: 217, 217, 217;
    --contact-color-2b: 255, 0, 192;
    
    --dark-mode-menu-color: 128, 128, 128;
    --light-mode-menu-color: 194, 194, 0;

    --menu-shadow-home-color: 0, 192, 255, 1;
    --menu-shadow-about-color: 255, 136, 0, 1;
    --menu-shadow-projects-color: 255, 36, 255, 1;
    --menu-shadow-contact-color: 255, 21, 80, 1;
    --menu-shadow-light-color: 194, 194, 0;
    --menu-shadow-dark-color: 128, 128, 128, 1;

    --menu-shadow-home: 0px 0px 10px rgba(var(--menu-shadow-home-color));
    --menu-shadow-about: 0px 0px 10px rgba(var(--menu-shadow-about-color));
    --menu-shadow-projects: 0px 0px 10px rgba(var(--menu-shadow-projects-color));
    --menu-shadow-contact: 0px 0px 10px rgba(var(--menu-shadow-contact-color));
    --menu-shadow-light: 0px 0px 10px rgba(var(--menu-shadow-light-color));
    --menu-shadow-dark: 0px 0px 10px rgba(var(--menu-shadow-dark-color));
    }
/*
/*
Color list (luminance)

sky blue #0080ff

#E7F3FF
#CFE7FF
#B6DAFF
#9CCDFF
#80C0FF
#62B1FF 
#41A0FF
#1A8CFF
#007AF5
#006FDF
#0064C8
#0059B2
#004E9C
#004386
#003870
#002D5A
#002244
#00172F
#000D19

red-orange #ff4000

#FFEFE9
#FFDED2
#FFCCBB
#FFBAA3
#FFA689
#FF916C
#FF7A4D
#FF5D27
#F93E00
#E33900
#CC3300
#B62E00
#A02800
#8A2200
#731D00
#5D1700
#461100
#2F0C00
#1A0700

orange

#FFF0E1
#FFE1C2
#FFD0A2
#FFBF80
#FFAD5B
#FF9831
#FF8000
#EC7600
#D86C00
#C56200
#B15900
#9E4F00
#8A4500
#773B00
#633200
#502800
#3C1E00
#281400
#150B00

yellow-green #80ff00

#E4FFC9
#C5FF8A
#9BFF36
#7BF600
#74E700
#6CD800
#64C900
#5DBA00
#55AB00
#4E9B00
#468C00
#3F7D00
#376E00
#2F5F00
#284F00
#204000
#183000
#102100
#081000

pink #ff0080

#FFEAF5
#FFD5EA
#FFBEDF
#FFA6D3
#FF8CC5
#FF6EB6
#FF48A4
#FF0984
#EC0076
#D6006B
#C10060
#AC0056
#97004B
#810041
#6C0036
#57002C
#420021
#2E0017
#1C000E

purple #8000ff

#F5ECFF
#ECD8FF
#E2C4FF
#D7AFFF
#CC99FF
#C182FF
#B469FF
#A54CFF
#9327FF
#7C00F8
#6F00DF
#6300C6
#5600AD
#4A0094
#3E007B
#320063
#25004B
#1A0035
#100021

black/white

#F2F2F2
#E6E6E6
#D9D9D9
#CCCCCC
#BFBFBF
#B3B3B3
#A6A6A6
#999999
#8C8C8C
#808080
#737373
#666666
#595959
#4D4D4D
#404040
#333333
#262626
#191919
#0D0D0D
*/