@font-face {
  font-family: 'Inter';
  font-weight: 1 999;
  font-display: swap;
  unicode-range: U+0020-007F;
  src: url('./fonts/Inter.woff2') format("truetype-variations"),
       url('./fonts/Inter.woff') format("truetype-variations");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}