@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes flyFromLeft {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes flyFromRight {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes flyFromBottom {
  0% {
    transform: translateY(100vw);
  }
  100% {
    transform: translateY(0);
  }
}

.runBannerAnimation {

  .background {
    animation: zoomIn 20s linear 1.5s both;
  }
  
  .name {
    animation: flyFromLeft .5s ease 2s both;
  }

  .description {
    animation: flyFromRight .5s ease 2.5s both;
  }

  .projects-button {
    animation: flyFromBottom .5s ease 3s backwards;
  }
}

.banner {
  background: linear-gradient(to top right, rgba(var(--home-color-1), 1), rgba(var(--home-color-1b), 1));
  position: relative;
  overflow: hidden;

  .background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
  }

  .color-overlay {
    background: linear-gradient(to top right, rgba(var(--home-color-1), var(--home-transparency)), rgba(var(--home-color-1b), var(--home-transparency)));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .heading {
      display: flex;
      flex-direction: column;

      .name {
        background: linear-gradient(to top right, rgba(var(--home-color-2), 1), rgba(var(--home-color-2b), 1));
        color: transparent;
        background-clip: text;
        filter: drop-shadow(-2px 2px 1px rgba(0, 0, 0, .5));
        transform: translateX(-100vw);
        font-weight: 600;
        font-size: 4.5rem;

        @media screen and (min-width: 481px) {font-size: 5.8rem;}
        @media screen and (min-width: 721px) {font-size: 6.4rem;}
        @media screen and (min-width: 961px) {font-size: 7.1rem;}
        @media screen and (min-width: 1201px) {font-size: 7.7rem;}
        @media screen and (min-width: 1441px) {font-size: 8.4rem;}
        @media screen and (min-width: 1681px) {font-size: 9rem;}
        @media screen and (min-width: 1921px) {font-size: 10.1rem;}
        @media screen and (min-width: 2161px) {font-size: 11.3rem;}
        @media screen and (min-width: 2401px) {font-size: 12.4rem;}
        @media screen and (min-width: 2641px) {font-size: 13.5rem;}
        @media screen and (min-width: 2881px) {font-size: 14.6rem;}
        @media screen and (min-width: 3121px) {font-size: 15.8rem;}
        @media screen and (min-width: 3361px) {font-size: 16.9rem;}
        @media screen and (min-width: 3601px) {font-size: 18rem;}

        &::selection {
          background-color: rgba(var(--home-color-2), 1);
          color:  rgba(var(--home-color-1), 1);
        }
      }

      .description {
        background: linear-gradient(to top right, rgba(var(--home-color-2), 1), rgba(var(--home-color-2b), 1));
        color: transparent;
        background-clip: text;
        filter: drop-shadow(-2px 2px 1px rgba(0, 0, 0, .4));
        transform: translateX(100vw);
        font-weight: 300;
        font-size: 2.3rem;
        text-align: center;
        letter-spacing: .3rem;

        @media screen and (min-width: 481px) {font-size: 2.9rem; letter-spacing: .3rem;}
        @media screen and (min-width: 721px) {font-size: 3.2rem; letter-spacing: .3rem;}
        @media screen and (min-width: 961px) {font-size: 3.5rem; letter-spacing: .3rem;}
        @media screen and (min-width: 1201px) {font-size: 3.9rem; letter-spacing: .3rem;}
        @media screen and (min-width: 1441px) {font-size: 4.2rem; letter-spacing: .3rem;}
        @media screen and (min-width: 1681px) {font-size: 4.5rem; letter-spacing: .4rem;}
        @media screen and (min-width: 1921px) {font-size: 5.1rem; letter-spacing: .4rem;}
        @media screen and (min-width: 2161px) {font-size: 5.6rem; letter-spacing: .5rem;}
        @media screen and (min-width: 2401px) {font-size: 6.2rem; letter-spacing: .5rem;}
        @media screen and (min-width: 2641px) {font-size: 6.8rem; letter-spacing: .6rem;}
        @media screen and (min-width: 2881px) {font-size: 7.3rem; letter-spacing: .6rem;}
        @media screen and (min-width: 3121px) {font-size: 7.9rem; letter-spacing: .7rem;}
        @media screen and (min-width: 3361px) {font-size: 8.4rem; letter-spacing: .7rem;}
        @media screen and (min-width: 3601px) {font-size: 9rem; letter-spacing: .8rem;}

        &::selection {
          background-color: rgba(var(--home-color-2), 1);
          color: rgba(var(--home-color-1), 1);
        }
      }

      .projects-button {
        border-radius: 8rem;//8rem 20%/50%
        font-weight: 600;
        transition: transform .2s ease;
        position: relative;
        overflow: hidden;
        filter: drop-shadow(-1px 1px 1px rgba(0, 0, 0, .4));
        padding: 1.3rem;
        margin-top: 2.3rem;
        border: 3px solid rgba(var(--home-color-2), 1);
        font-size: 1.3rem;
        margin-left: auto;
        margin-right: auto;
        display: none;

        @media screen and (min-height: 481px) {display: initial;} //divided first half by 7 which includes a removed roughly 200 width
        @media screen and (min-width: 481px) {padding: 1.5rem; margin-top: 2.6rem; border: 3px solid rgba(var(--home-color-2), 1); font-size: 1.5rem;}
        @media screen and (min-width: 721px) {padding: 1.6rem; margin-top: 2.9rem; border: 4px solid rgba(var(--home-color-2), 1); font-size: 1.6rem;}
        @media screen and (min-width: 961px) {padding: 1.6rem; margin-top: 3.1rem; border: 4px solid rgba(var(--home-color-2), 1); font-size: 1.6rem;}
        @media screen and (min-width: 1201px) {padding: 1.7rem; margin-top: 3.4rem; border: 4px solid rgba(var(--home-color-2), 1); font-size: 1.7rem;}
        @media screen and (min-width: 1441px) {padding: 1.7rem; margin-top: 3.7rem; border: 5px solid rgba(var(--home-color-2), 1); font-size: 1.7rem;}
        @media screen and (min-width: 1681px) {padding: 1.8rem; margin-top: 4rem; border: 5px solid rgba(var(--home-color-2), 1); font-size: 1.8rem;}
        @media screen and (min-width: 1921px) {padding: 2.0rem; margin-top: 4.5rem; border: 6px solid rgba(var(--home-color-2), 1); font-size: 2.0rem;}
        @media screen and (min-width: 2161px) {padding: 2.3rem; margin-top: 5rem; border: 6px solid rgba(var(--home-color-2), 1); font-size: 2.3rem;}
        @media screen and (min-width: 2401px) {padding: 2.5rem; margin-top: 5.5rem; border: 7px solid rgba(var(--home-color-2), 1); font-size: 2.5rem;}
        @media screen and (min-width: 2641px) {padding: 2.7rem; margin-top: 6rem; border: 8px solid rgba(var(--home-color-2), 1); font-size: 2.7rem;}
        @media screen and (min-width: 2881px) {padding: 2.9rem; margin-top: 6.5rem; border: 8px solid rgba(var(--home-color-2), 1); font-size: 2.9rem;}
        @media screen and (min-width: 3121px) {padding: 3.2rem; margin-top: 7rem; border: 9px solid rgba(var(--home-color-2), 1); font-size: 3.2rem;}
        @media screen and (min-width: 3361px) {padding: 3.4rem; margin-top: 7.5rem; border: 9px solid rgba(var(--home-color-2), 1); font-size: 3.4rem;}
        @media screen and (min-width: 3601px) {padding: 3.6rem; margin-top: 8rem; border: 10px solid rgba(var(--home-color-2), 1); font-size: 3.6rem;}

        span {
          background: linear-gradient(to top right, rgba(var(--home-color-2), 1), rgba(var(--home-color-2b), 1));
          color: transparent;
          background-clip: text;

          &::selection {
            background-color: rgba(var(--home-color-2), 1);
            color:  rgba(var(--home-color-1), 1);
          }
        }

        &::before {
          content: "";
          position: absolute;
          background: linear-gradient(to top right, rgba(var(--home-color-1), 1), rgba(var(--home-color-1b), .6));
          top: 0;
          left: -60%;
          right: -60%;
          bottom: -60%;
          z-index: -1;
          clip-path: polygon(50% 100%, 0 0, 100% 0);
          transform: translateY(-100%);
          transition: transform .2s ease;
        }

        &:hover {

          &::before {
            transform: translateY(0);
            transition: transform .2s ease;
          }
        }

        &:active {
          transform: translateY(0.4rem);
        }
      }
    }
  }
}